{% extends "base.html" %}
{% load i18n static %}
{% load url from future %}

{% block page_title %}sepal | {% trans 'Password change' %}{% endblock %}

{% block static %}
<style type="text/css">
  body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }

  .form-password-change {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-password-change .form-password-change-heading,
  .form-password-change .checkbox {
    margin-bottom: 10px;
  }
  .form-password-change input[type="text"],
  .form-password-change input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }

</style>
{% endblock %}

{% block content %}
<div class="container">

  <form class="form-password-change" action="" method="post">
    {% if form.errors %}
    <p class="errornote">
    {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {% endif %}
    {% csrf_token %}
    <h2 class="form-password-change-heading">{% trans 'Password change' %}</h2>
    {{ form.old_password.errors }}
    <input type="password" class="input-block-level" name="old_password" placeholder="{% trans 'Old password' %}">
    {{ form.new_password1.errors }}
    <input type="password" class="input-block-level" name="new_password1" placeholder="{% trans 'New password' %}">
    {{ form.new_password2.errors }}
    <input type="password" class="input-block-level" name="new_password2" placeholder="{% trans 'Password (again)' %}">
    <button class="btn btn-large btn-primary" type="submit">{% trans 'Change my password' %}</button>
  </form>

</div> 
{% endblock %}
