{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block page_title %}sepal | {% trans "Password reset" %}{% endblock %}


{% block static %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/user.css">
{% endblock %}

{% block content %}
<div class="container">

  <form class="form-password" action="" method="post">
    {% csrf_token %}
    <h2 class="form-password-heading">{% trans "Password reset" %}</h2>
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
    {{ form.email.errors }}
    <input type="text" class="input-block-level" name="email" placeholder="{% trans 'E-mail address' %}">
    <button class="btn btn-large btn-primary" type="submit">{% trans 'Reset my password' %}</button>
  </form>

</div> 
{% endblock %}
