{% load staticfiles %}
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
  More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block page_title %}{{ _("Sepal | Mine your Audio") }}{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
  {# <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css"> #}
  <link rel="stylesheet" href="{{ STATIC_URL }}font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

  {# Fonts #}
<link href="http://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Allerta" rel="stylesheet" type="text/css">
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="`"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  {# Jquery cookie plugin #}
  <script src=" {{ STATIC_URL }}jquery-cookie-master/jquery.cookie.js"></script>

    {# Include X-editable #}
<link href="{{ STATIC_URL }}bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
<script src="{{ STATIC_URL }}bootstrap-editable/js/bootstrap-editable-inline.js"></script>

  {# D3 and figure styling #}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/figure.css">
<script src="{{ STATIC_URL }}js/d3.v2.js"></script>

{# App-specific scripts #}
<script src="{{ STATIC_URL }}js/script.js"></script>

  {% block static %}{% endblock %}


  <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
  {# <script src="{{ STATIC_URL }}js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script> #}
</head>
<body class="{% block body_class %}{% endblock %}">
  {# {% block body %} #}
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
  chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  {% include "nav.html" %}
  
  {% block header %}{% endblock %}
  
  <div id="main">
      {% block content %}{% endblock %}
  </div>

  {% include "footer.html" %}


  <!-- Other JavaScript at the bottom for fast page loading -->

  <!-- scripts concatenated and minified via build script -->
  <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}js/plugins.js"></script>
  <script src="{{ STATIC_URL }}js/datasets.js"></script>
  <!-- end scripts -->

  {# {% endblock %} #}
</body>
</html>
