{% extends "base.html" %}
{% block page_class %}home-page{% endblock %}

{% block header %}
    <div class="row">
    <div class="header">
      <div class="container">
        <div class="span12">
          <h1 class="brand"><i class="icon-leaf"></i> sepal</h1>
          <h2 class="tagline">Sound Feature Extraction and Pattern Analysis Library</h2>
          <p><a id="signup" class="btn btn-yellow btn-large">Request invite »</a></p>
          <form id="signupform" class="navbar-form" style="display:none" action="/signup/" method="post">
            {% csrf_token %}
            <input type="text" class="span2" name="email" placeholder="Email" />
            <button type="submit" class="btn" style="margin-top:5px">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock header %}

{% block content %}

    <div class="container">
    <div class="row">
      <div class="span4">
        <h2>Designed for research</h2>
        <p> Sepal is designed for use in a variety of research applications, including bioacoustics, Music Information Retrieval, and machine learning. </p>
        {# <p><a class="btn" href="#">Learn more »</a></p> #}
      </div><!-- end span4 -->

      <div class="span4">
        <h2>Explore your audio</h2>
        <p>Extract spectral, perceptual, temporal, and harmonic features with the click of a button. Exploratory data analysis is with interactive visualizations. </p>
        {# <p><a class="btn" href="#">Learn more »</a></p> #}
      </div><!-- end span4 -->

      <div class="span4">
        <h2>Your audio safe</h2>
        <p>Your audio and datasets are kept safe on our servers. Get unlimited storage with our private hosting plans.</p>
        {# <p><a class="btn" href="#">Learn more »</a></p> #}
      </div><!-- end span4 -->

    </div><!-- end row -->
  </div> <!-- end container -->

    <hr>
{% endblock %}


{% block scripts %}
<script>
$(function() {
  $('#signup').click(function() {
    $('#signupform').toggle('fast');
  });
});
</script>
{% endblock %}
