#chart {
	font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    width: 475px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

/*.axis text {
  font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
  font-size: 13px;
}*/

.axis .label {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.legend rect {
  fill:white;
  opacity:0.7;
}

.legend text{
    font-size: 11px;
}

.dot {
    opacity: 0.7;
}

.d3-tooltip {
  font-size: 13px;
  opacity: 0.9;
}