<html lang="en">
<head>
    <!-- Bootstrap CSS Toolkit styles -->
    {# <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css"> #}
    <!-- Generic page styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}fileupload-static/css/style.css">
    <!-- Bootstrap styles for responsive website layout, supporting different screen sizes -->
    <link rel="stylesheet" href="{{ STATIC_URL }}fileupload-static/css/bootstrap-responsive.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{{ STATIC_URL }}fileupload-static/css/bootstrap-image-gallery.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}fileupload-static/css/jquery.fileupload-ui.css">
    <!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

    {% block content %}

    {% endblock %}
</html>
