<script src="{{ STATIC_URL }}jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="{{ STATIC_URL }}multiuploader/scripts/jquery.tmpl.min.js"></script>
<script src="{{ STATIC_URL }}multiuploader/scripts/jquery.iframe-transport.js"></script>
<script src="{{ STATIC_URL  }}multiuploader/scripts/jquery.fileupload.js"></script>
<script src="{{ STATIC_URL  }}multiuploader/scripts/jquery.fileupload-ui.js"></script>
{# The initializer script #}
<script src="{{ STATIC_URL  }}multiuploader/scripts/fileupload-init.js"></script>