<link rel="stylesheet" href="{{ STATIC_URL }}fileupload-static/css/jquery.fileupload-ui.css">

<script src="{{ STATIC_URL }}fileupload-static/js/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL }}fileupload-static/js/tmpl.min.js"></script>
<script src="{{ STATIC_URL }}fileupload-static/js/load-image.min.js"></script>
<script src="{{ STATIC_URL }}fileupload-static/js/canvas-to-blob.min.js"></script>
<script src="{{ STATIC_URL }}fileupload-static/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}fileupload-static/js/bootstrap-image-gallery.min.js"></script>
<script src="{{ STATIC_URL }}fileupload-static/js/jquery.iframe-transport.js"></script>
<script src="{{ STATIC_URL }}fileupload-static/js/jquery.fileupload.js"></script>
<script src="{{ STATIC_URL }}fileupload-static/js/jquery.fileupload-fp.js"></script>
<script src="{{ STATIC_URL }}fileupload-static/js/jquery.fileupload-ui.js"></script>
<script src="{{ STATIC_URL }}fileupload-static/js/locale.js"></script>
<script src="{{ STATIC_URL }}fileupload-static/js/main.js"></script>
<script src="{{ STATIC_URL }}fileupload-static/js/csrf.js"></script>