<script src="{{ STATIC_URL }}multiuploader/js/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL }}multiuploader/js/tmpl.min.js"></script>
<script src="{{ STATIC_URL }}multiuploader/js/load-image.min.js"></script>
<script src="{{ STATIC_URL }}multiuploader/js/canvas-to-blob.min.js"></script>
<script src="{{ STATIC_URL }}multiuploader/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}multiuploader/js/bootstrap-image-gallery.min.js"></script>
<script src="{{ STATIC_URL }}multiuploader/js/jquery.iframe-transport.js"></script>
<script src="{{ STATIC_URL }}multiuploader/js/jquery.fileupload.js"></script>
<script src="{{ STATIC_URL }}multiuploader/js/jquery.fileupload-fp.js"></script>
<script src="{{ STATIC_URL }}multiuploader/js/jquery.fileupload-ui.js"></script>
<script src="{{ STATIC_URL }}multiuploader/js/locale.js"></script>
<script src="{{ STATIC_URL }}multiuploader/js/main.js"></script>
<script src="{{ STATIC_URL }}multiuploader/js/csrf.js"></script>