{% extends "base.html" %}
{% block page_class %}home-page{% endblock %}

{% block header %}
    <div class="row">
    <div class="header">
      <div class="container">
        <div class="span12">
          <h1 class="brand"><i class="icon-leaf"></i> sepal</h1>
          <h2 class="tagline">Sound Extraction and Pattern Analysis Library</h2>
          <p><a class="btn btn-primary btn-large">Sign up »</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock header %}

{% block content %}

     <!-- Example row of columns -->
    <div class="container">
    <div class="row">
      <div class="span4">
        <h2>Designed for research</h2>
        <p> We work closely with researchers to create web software tailored to your research questions. </p>
        <p><a class="btn" href="#">Learn more »</a></p>
      </div><!-- end span4 -->
      <div class="span4">
        <h2>Audio feature extraction</h2>
        <p>Uncover hidden patterns in your audio. Extract spectral, perceptual, temporal, and harmonic features with the click of a button. </p>
        <p><a class="btn" href="#">Learn more »</a></p>
      </div><!-- end span4 -->
      <div class="span4">
        <h2>Interactive visualization</h2>
        <p>Immediately see your data in customizeable, publication-quality <a href="http://d3js.org/">D3</a> figures.</p>
        <p><a class="btn" href="#">Learn more »</a></p>
      </div><!-- end span4 -->

    </div>
  </div> 

    <hr>
  {% endblock %}
