{% extends "base.html" %}
{% block page_class %}home-page{% endblock %}

{% block header %}
    <div class="row">
    <div class="header">
      <div class="container">
        <div class="span12">
          <h1 class="brand"><i class="icon-leaf"></i> sepal</h1>
          <h2 class="tagline">Sound Extraction and Pattern Analysis Library</h2>
          <p><a class="btn btn-yellow btn-large">Sign up »</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock header %}

{% block content %}

     <!-- Example row of columns -->
    <div class="container">
    <div class="row">
      <div class="span4">
        <h2>Designed for research</h2>
        <p> Sepal is designed for use in a variety of research applications, including bioacoustics, Music Information Retrieval (MIR), and machine learning. </p>
        <p><a class="btn" href="#">Learn more »</a></p>
      </div><!-- end span4 -->

      <div class="span4">
        <h2>Feature extraction</h2>
        <p>Extract spectral, perceptual, temporal, and harmonic features with the click of a button. </p>
        <p><a class="btn" href="#">Learn more »</a></p>
      </div><!-- end span4 -->

      <div class="span4">
        <h2>Interactive visualization</h2>
        <p>Choose your axes. Choose your variables. Immediately see your data in an interactive plot.</p>
        <p><a class="btn" href="#">Learn more »</a></p>
      </div><!-- end span4 -->

    </div><!-- end row -->
  </div> <!-- end container -->

    <hr>
{% endblock %}
