<script src="http://www.jotform.com/min/?g=feedback2" type="text/javascript"></script>
<script type="text/javascript">
    new JotformFeedback({
        formId      : "30590879306158",
        buttonText  : "Feedback",
        windowTitle : "Mark up the screenshot to describe a problem or suggestion",
        base        : "http://jotform.us/",
        background  : "#faa732",
        fontColor   : "#FFFFFF",
        buttonSide  : "top",
        buttonAlign : "center",
        type        : false,
        width       : 280,
        height      : 420,
        instant     : true
    });
</script>